body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f4f4f4;
    padding: 10px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo-container {
    justify-content: center;
  }
  
  .actions-container {
    display: flex;
    align-items: center;
  }
  
  .subscribe-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .signin-container {
    display: flex;
    align-items: center;
  }
  
  .signin-container span {
    margin-left: 5px;
  }
  
  .navbar-nav .nav-link:hover {
    border-bottom: 4px solid black;
  }
  .col-md-6 img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .col-md-8 img {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }

  .blue{
    background-color: darkblue;
    color: white;
  }
  .container{
    padding-top: 20px;
    margin-bottom: 10px;
  }
  footer {
    background-color: #000;
    color: #fff;
    padding-left: 20px;
  }
  footer a {
    color: #ccc;
    text-decoration: none;
    
  }
  li{
    list-style-type: none;
  }
  h3{
    margin-bottom: 20px;
  }